**.sass-cache/*
/desktop.ini
/node_modules

# Disabling this by default will free to change if conflicts occur
#/assets/js/libs/modules
#/assets/js/main.min.js
#/assets/css
#/assets/img

*.sublime-project
*.sublime-workspace
/.sass-cache
/.idea
*.scssc
