// 
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000 !default;
$blackLight:			lighten($black, 10%) !default;
$gray:                  #555 !default;
$grayLight:				#b7b7b7 !default;
$grayLighter:           #e1e1e1 !default;
$white:                 #fff !default;

// Accent colors
// -------------------------
$blue:                  #006e8f !default;
$green:                 #d5e14d !default;

$red: 					#bf2e1b !default;
$redDark:               darken($red, 10%) !default;

$yellow:                #FFA500 !default;
$orange:                #FF7518 !default;
$pink:                  #E671B8 !default;
$purple:                #9954BB !default;


// Links
// -------------------------
$linkColor:             $red !default;
$linkColorHover:        $redDark !default;


// Typography
// -------------------------
$typeSpacing: 25px !default;
$baseLineheight: 1.4;
$sansFontFamily:  'SourceSansProRegular', sans-serif !default;
$sansFontFamilyBold: 'SourceSansProBold', sans-serif !default;
$serifFontFamily: 'CrimsonItalic', sans-serif !default;
$serifFontFamilyBold: 'CrimsonSemiboldItalic', sans-serif !default;